nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 2rem;
    height: 3rem;
    background: #1e1e1e;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
}

.Cart {
    color: aliceblue;
}
.Cart:hover{
    color: #2d94fb;
    transition: .2s;
}

.product-cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 15px;
    margin: 1rem;
    justify-content: center;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background: #fff;
    color: #000;
    border-radius: 10px;
    height: 450px;
}

.product-img{
    max-height: 200px;
    max-width: 200px;
}

.add-to-cart{
    padding: 1rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    background: #2d94fb;
    transition: .3s;
    cursor: pointer;
}

.add-to-cart:hover{
    background: #1d8af7;
}

.add-to-cart:active{
    background: #1d8af7;
    transform: scale(.9);
    transition: .3s;
}

.detali-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: #fff;
    width: 400px;
    height: 700px;
}

.detali-cont h2{
    color: #000;
    font-size: 1.2rem;
}

.detali-cont img{
    width: 300px;
}

.detali-cont p{
    color: #000;
    font-weight: 700;
}